/* 
COMP 1850:  Assignment 03
author:		Mahmoud Ektefaie	
date:		01/05/2022
*/

/* =================================== */
/* General Styling */
/* =================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  /* background-color: #e3e3e3; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

h1 {
  color: #242424;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 3rem;
  text-align: center;
  padding: 1em 0;
}

h2 {
  margin-bottom: 0.8em;
  font-weight: 500;
}

h3,
th {
  color: #1e2965;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5em 0;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

a:link,
a:visited {
  color: #115d9e;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #e1005e;
}

section {
  padding: 2em 0;
}

code {
  background-color: #d7d7d7;
  border-radius: 3px;
  font-family: courier, monospace;
  /* padding: 0 3px; */
}

table {
  margin: 1em 0;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 0.5em 1em;
  width: 50%;
}

th:first-child {
  background-color: #caf0ff;
}

th:last-child {
  background-color: #ffffc8;
}

td:first-child {
  background-color: rgb(244, 252, 255);
}

td:last-child {
  background-color: rgba(255, 255, 241, 0.801);
}

.html-tag {
  background-color: #6ec7f7;
  padding: 0.2em 0.6em;
}

.usage {
  color: #e6024a;
}

.attribute {
  color: #ae561b;
  font-weight: 400;
  /* font-weight: 300; */
}

.html-hr {
  max-width: 7%;
  margin: auto;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: dotted;
  border-width: 5px;
  color: #e54d26;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

/* =================================== */
/* HEADER Section*/
/* =================================== */

header {
  background-color: #191919;
  height: 200px;
  padding: 0 2em;
}

nav {
  color: #fff;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 10px;
}

a.nav-link {
  padding: 0.25em 1em;
  border: 1px solid #ff006ac2;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
}

a.active,
a.nav-link:hover,
a.nav-link:focus {
  background-color: #ff006adc;
  color: #fff;
}

.logo {
  height: 150px;
}

/* =================================== */
/* Main Sections */
/* =================================== */

main {
  padding: 0 2em;
  /* background-color: #f2f2f2; */
}

main ul {
  padding-left: 1em;
}

figcaption {
  font-weight: 300;
  font-size: 1rem;
}

.intro {
  width: 75%;
  margin: auto;
}

/* =================================== */
/* Footer Section*/
/* =================================== */

footer {
  background-color: #191919;
  color: #e9e9e9;
  padding: 1.25em 0;
}

footer p {
  font-weight: 200;
  font-size: 0.8rem;
}

.social-icons {
  margin-left: 2.5em;
}

.social-icons .fa-brands {
  font-size: 1rem;
  margin: 0 1em;
  color: #e9e9e9;
}

.social-icons .fa-brands:hover,
.social-icons .fa-brands:focus {
  color: #ff006a;
}
